<div class="container mt-5" style="color: deeppink">
  <form style="color: deeppink">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Libelle</label>
        <input style="color: deeppink" type="text" class="form-control" id="inputEmail4" placeholder="Libelle">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Presentation</label>
        <input style="color: deeppink" type="password" class="form-control" id="inputPassword4" placeholder="Presentation">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Groupe de
          Compétences</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>competence1</option>
          <option>competence2/option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Critere Evaluation </label>
        <input style="color: deeppink" type="text" class="form-control" id="inputPassword4" placeholder="Critere Evaluation">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Critere Admission</label>
        <input style="color: deeppink" type="text" class="form-control" id="inputPassword4" placeholder="Critere Admission">
      </div>

    </div>
    <div class="custom-file">
      <input style="color: deeppink" type="file" class="custom-file-input" id="inputGroupFile04">
      <label class="custom-file-label" for="inputGroupFile04">Upload Programme</label>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input"style="color: deeppink"  type="checkbox" id="gridCheck">
        <label style="color: deeppink" class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" style="background-color: deeppink;" class="">Sign in</button>

  </form>
</div>
