<mat-card class="example-card" style="display: inline-block">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="color: deeppink">Competence 1</mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="container" >
      <form >


        <div class="form-group col-md-12">
          <label for="inputState" style="color: deeppink"> LIBELLE</label><br>
          Devellopper back end dune application

        </div>


        <div class="form-row">
          <div class="form-group col-md-12">
            <label style="color: deeppink" for="inputState">
              GROUPES COMPETENCES</label><br>
            competnce 1, competence 2...
          </div>

        </div>




        <button type="submit" style="background-color: deeppink;" class="">Sign in</button>

      </form>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="color: deeppink">Details</button>
    <button routerLink="/home/addcompetences" mat-button style="color: deeppink">Ajouter</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card" style="display: inline-block">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="color: deeppink">Competence 2</mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="container" >
      <form >


        <div class="form-group col-md-12">
          <label for="inputState" style="color: deeppink"> LIBELLE</label><br>
          Devellopper back end dune application

        </div>


        <div class="form-row">
          <div class="form-group col-md-12">
            <label style="color: deeppink" for="inputState">
              GROUPES COMPETENCES</label><br>
            competnce 1, competence 2...
          </div>

        </div>






        <button type="submit" style="background-color: deeppink;" class="">Sign in</button>

      </form>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="color: deeppink">Details</button>
    <button routerLink="/home/addcompetences" mat-button style="color: deeppink">Ajouter</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card" style="display: inline-block">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="color: deeppink">Competence 3</mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="container" >
      <form >


        <div class="form-group col-md-12">
          <label for="inputState" style="color: deeppink"> LIBELLE</label><br>
          Devellopper back end dune application

        </div>


        <div class="form-row">
          <div class="form-group col-md-12">
            <label style="color: deeppink" for="inputState">
              GROUPES COMPETENCES</label><br>
            competnce 1, competence 2...
          </div>

        </div>

<button type="submit" style="background-color: deeppink;" class="">Sign in</button>

      </form>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="color: deeppink">Details</button>
    <button routerLink="/home/addcompetences" mat-button style="color: deeppink">Ajouter</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card" style="display: inline-block">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="color: deeppink">Competence 4</mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="container" >
      <form >


        <div class="form-group col-md-12">
          <label for="inputState" style="color: deeppink"> LIBELLE</label><br>
          Devellopper back end dune application

        </div>


        <div class="form-row">
          <div class="form-group col-md-12">
            <label style="color: deeppink" for="inputState">
              GROUPES COMPETENCES</label><br>
            competnce 1, competence 2...
          </div>

        </div>


        <button type="submit" style="background-color: deeppink;" class="">Sign in</button>

      </form>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="color: deeppink">Details</button>
    <button routerLink="/home/addcompetences" mat-button style="color: deeppink">Ajouter</button>
  </mat-card-actions>
</mat-card>
