<div class="container" style="color: deeppink">
  <form style="color: deeppink">


      <div class="form-group col-md-12">
        <label for="inputEmail4">Libelle</label>
        <input style="color: deeppink" type="text" class="form-control" id="inputEmail4" placeholder="Libelle">
      </div>


    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputState">
        Groupes Compétences</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>competence1</option>
          <option>competence2/option>
        </select>
      </div>

    </div>

      <mat-tab-group>
        <mat-tab label="Niveau 1"> Content 1 </mat-tab>
        <mat-tab label="Niveau 2"> Content 2 </mat-tab>
        <mat-tab label="Niveau 3"> Content 3 </mat-tab>
      </mat-tab-group>


    <div class="form-group">
      <div class="form-check mt-5">
        <input class="form-check-input"style="color: deeppink"  type="checkbox" id="gridCheck">
        <label style="color: deeppink" class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" style="background-color: deeppink;" class="">Sign in</button>

  </form>
</div>
