<div class="container-competence">
  <mat-horizontal-stepper #stepper>
    <mat-step >
      <form>
        <ng-template matStepLabel>Etape 1</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Langue</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Titre</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Description de la promo</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step >
      <form >
        <ng-template matStepLabel>Etape 2</ng-template>

        <mat-label>Lieu de la Promo</mat-label>

        <mat-form-field class="example-full-width">

          <input matInput placeholder="Lieu de la Promo">
        </mat-form-field>

        <mat-label>Reference Agate</mat-label>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Reference Agate">
        </mat-form-field>


        <mat-label>Choix de la Fabrique</mat-label>
        <mat-form-field class="example-full-width">
          <input required matInput placeholder="Choix de la Fabrique">
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Etape 3</ng-template>


      <mat-form-field class="example-chip-list">
        <mat-label>Réferentiels</mat-label>
        <mat-chip-list #chipList aria-label="Réferentiels">
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New Référentiel..."
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <p>
          <mat-form-field>
            <ngx-mat-file-input name="avatar" ngModel #avatar placeholder="avatar" ></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
          </mat-form-field>
        </p>
      </div>

      <mat-label>Date de Début</mat-label>
      <mat-form-field>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-label>Date de Fin</mat-label>

      <mat-form-field>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>





      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>

    <mat-step >
      <form >
        <ng-template matStepLabel>Etape 4</ng-template>

        <mat-form-field class="example-chip-list">
          <mat-label>Ajout d' apprenants</mat-label>
          <mat-chip-list #chipList aria-label="Email">
            <mat-chip
              *ngFor="let email of emails"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(emails)">
              {{email}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Apprenant"
              #fruitInput
              [formControl]="fruitCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let email of filteredemails | async" [value]="email">
              {{email}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="col-lg-6 login-btm login-button">
          <button style="color:white;background-color:#000080;margin: auto;position: relative;margin-left:600px" (click)="login(f.value)" type="submit" class="btn btn-outline-primary">SUBMIT</button>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


  </mat-horizontal-stepper>
</div>
