
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let profils"> {{profils.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="libelle">
    <th mat-header-cell *matHeaderCellDef> libelle </th>
    <td mat-cell *matCellDef="let profils"> {{profils.libelle}} </td>
  </ng-container>


  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>actions</th>

    <mat-header-cell  *matHeaderCellDef style="color:white "> Actions </mat-header-cell>
    <mat-cell *matCellDef="let profil" >

      <button  (click)="delete(profil.id)" mat-icon-button class="example-icon m-auto" aria-label="Example icon-button with menu icon">
            <span class="material-icons" style="color: deeppink;">
                delete
                </span>
        <i>Delete</i>
      </button>
    </mat-cell>

  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
