<div class="container mt-5" style="color: deeppink">
  <form   #f="ngForm"  style="color: deeppink">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Prenom</label>
        <input  ngModel #prenom ="ngModel" required matInput name="prenom" style="color: deeppink" type="text" class="form-control"placeholder="Prenom">
      <div *ngIf="prenom.invalid">
        veuillez entrer le prenom
      </div>
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword4">Nom</label>
        <input ngModel #nom ="ngModel"required matInput name="nom"  style="color: deeppink" type="text" class="form-control"  placeholder="Nom">
        <div *ngIf="nom.invalid">
          veuillez entrer le nom
        </div>
      </div>

    </div>


    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputPassword4">Password</label>
        <input  ngModel #password="ngModel" required matInput name="password"   style="color: deeppink" type="password" class="form-control"  placeholder="Password">
        <div *ngIf="password.invalid">
          veuillez entrer le mot de passe
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputPassword4">Email</label>
        <input name="email"  ngModel #email="ngModel" required matInput style="color: deeppink"  type="email" class="form-control"  placeholder="Email">
        <div *ngIf="email.invalid">
          veuillez entrer l'email
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Profil</label>
        <select  ngModel #profil_id="ngModel" required  name="profil_id"  class="custom-select" >
          <option selected></option>
          <option value=24>Admin</option>
          <option value=8>Apprenant</option>
          <option value=5>Formateur</option>
          <option value=15>CM</option>
        </select>
        <div *ngIf="prenom.invalid">
          veuillez entrer le profil
        </div>
      </div>


    </div>
    <div class="custom-file">
      <input  ngModel #avatar="ngModel" (change)="selectedFile($event.target.files)" required  name="avatar"style="color: deeppink" type="file" class="custom-file-input" id="inputGroupFile04">
      <label class="custom-file-label" for="inputGroupFile04">Upload avatar</label>
      <div *ngIf="avatar.invalid">
        veuillez entrer l'avatar
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input formControlName="acceptTerms" id="acceptTerms" class="form-check-input"  style="color: deeppink"  type="checkbox" >
        <label style="color: deeppink" class="form-check-label" >
          Check me out
        </label>
      </div>
    </div>
    <button [disabled]="f.invalid"  (click)=Postuler(f.value)  type="submit" style="background-color: deeppink;" class="">Register</button>
    <button type="reset" (click)="onReset()"   style="background-color: deeppink;" class="">Cancel</button>


  </form>
</div>
